<h1>Rhc WC Form Demo</h1>
<form>
  <label for="3">Form label</label>
  <rhc-form-textinput id="3" />
</form>

<div utrecht-document>
  <utrecht-page>
    <utrecht-page-content>
      <utrecht-article>
        <section>
          <utrecht-heading-1>RHC WC + Utrecht Componenten Form Demo</utrecht-heading-1>
          <form>
            <rhc-form-textinput label="name" name="myname" [(ngModel)]="name" />
          </form>
        </section>
      </utrecht-article>
    </utrecht-page-content>
  </utrecht-page>
</div>
