<div utrecht-document>
  <utrecht-page>
    <utrecht-page-content>
      <main>
        <utrecht-article>
          <section>
            <utrecht-heading-1>Angular Utrecht Componenten Form Demo</utrecht-heading-1>
            <utrecht-heading-2>Form Input using 2 way binding</utrecht-heading-2>
            <form>
              <utrecht-form-field>
                <label utrecht-form-label for="1">Form label</label>
                <input type="text" utrecht-textbox id="1" name="text-input" [(ngModel)]="inputValue" />
              </utrecht-form-field>
            </form>
            <utrecht-heading-2>Form Input using template variables</utrecht-heading-2>
            <form (ngSubmit)="onSubmitHandler(inputEl)">
              <utrecht-form-field>
                <label utrecht-form-label for="2">Form label</label>
                <input type="text" utrecht-textbox id="2" name="text-input" #inputEl />
              </utrecht-form-field>
              <button type="submit">Submit</button>
            </form>
          </section>
        </utrecht-article>
      </main>
    </utrecht-page-content>
    <utrecht-page-footer>
      <p>Footer</p>
      <div>
        <nl-theme-switcher></nl-theme-switcher>
      </div>
    </utrecht-page-footer>
  </utrecht-page>
</div>
